/* -------------- base -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------- global -------------- */

/* -------------- header -------------- */

/* -------------- add to-do formula -------------- */

/* -------------- to-do list -------------- */
#itemsList li {
  list-style: none;
  line-height: 1.5em;
}

#itemsList .strike {
  text-decoration: line-through;
  background-color: lightgray;
}

/* -------------- footer -------------- */
