/* -------------- base -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------- global -------------- */

/* -------------- header -------------- */

/* -------------- add to-do formula -------------- */

/* -------------- to-do list -------------- */

/* -------------- footer -------------- */
