/* -------------- base -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------- global -------------- */
body {
  font-family: "Comic Sans MS", cursive;
  background-color: #010031;
  color: #f5ffe6;
}

/* -------------- header -------------- */

/* -------------- add to-do formula -------------- */

/* -------------- to-do list -------------- */
#itemsList li {
  list-style: none;
  background-color: rgb(182, 238, 182);
  line-height: 1.5em;
}

#itemsList li::before {
  content: "";
  display: inline-block;
  width: 1.5em;
}

#itemsList .strike {
  text-decoration: line-through;
  background-color: lightgray;
}

#itemsList .strike::before {
  content: "\2713";
}

/* -------------- footer -------------- */
